*{
    margin: 0;
}
#principal{
    display: flex;
    height: 100vh;
}


/* --------------------------------- Seccion 1 de principal ---------------------------------*/

.izq{
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 15% 85%;
}
.izq .logo{
    grid-column: 1/3;
    margin: 5%;
}
.izq .redes .cont-a{
    margin-top: 50%;
    display: flex;
    transform: rotateZ(90deg);
}
.izq .redes .cont-a a{
    text-decoration: none;
    color: #222;
    padding: 50px;
}
.izq div .cont-about{
    margin-top: 10%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.izq div .cont-about div{
    font-size: 2em;
}
.izq div .cont-about div h1 span{
    color: rgb(187, 143, 13);
}
.izq div .cont-about .sobremi{
    margin-top: 5%;
    width: 80%;
    font-size: 1em;
}
.izq div .cont-about button{
    margin-top: 15%;
    width: 15%;
    border-style: none;
    animation-name: btn_1;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes btn_1{
    0%{
        width: 15%;
        font-size: .8em;
        background-color: #fff;
    }
    50%{
        width: 16%;
        font-size: .9em;
        background-color: #eee;
    }
    100%{
        width: 15%;
        font-size: .8em;
        background-color: #fff;
    }
}

/*---------------------- MENU ----------------------*/
.der{
    width: 200vh;
}
.der .cont_img{
    position: relative;
}
.der .cont_img .box-decoration:nth-child(2){
    width: 500px;
    height: 600px;   
    background-image: url(https://i.pinimg.com/564x/f6/95/1f/f6951f589500861ce46c23f8de4db443.jpg);
    clip-path: polygon(20.3% 0%, 13.1% 46.5%, 87.3% 0%, 7.9% 84.8%, 34.9% 95.8%, 54.1% 6%, 79.7% 100%, 100% 80%, 8.9% 46.3%, 100% 60.5%, 64.5% 0%, 56.8% 92.5%);
}
.der .cont_img .box-decoration:nth-child(1){
    position: absolute;
    top: 20px;
    left: -50px;
    width: 500px;
    height: 600px;   
    background-image: url(https://i.pinimg.com/564x/7f/8b/63/7f8b63ade2d6f721459386fdcf4e01fe.jpg);
    clip-path: polygon(20.3% 0%, 13.1% 46.5%, 87.3% 0%, 7.9% 84.8%, 34.9% 95.8%, 54.1% 6%, 79.7% 100%, 100% 80%, 8.9% 46.3%, 100% 60.5%, 64.5% 0%, 56.8% 92.5%);
}
.der .menu{
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: black;
    border: solid 1px red;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
.der .menu[data-visible = "true"]{
    top: -100%;
}
.der .menu ul{
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
} 
.der .menu ul li{
    list-style: none;
    margin-top: 20%;
    outline: 1px solid blue;
} 
